<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.ishaan.portfolio-reporter</string>

  <key>WorkingDirectory</key>
  <string>/Users/ishaan/Documents/New project</string>

  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/bin/python3</string>
    <string>-m</string>
    <string>portfolio_daily_reporter.main</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PYTHONPATH</key>
    <string>/Users/ishaan/Documents/New project</string>
  </dict>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>6</integer>
    <key>Minute</key>
    <integer>30</integer>
  </dict>

  <key>StandardOutPath</key>
  <string>/Users/ishaan/Documents/New project/reporter.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/ishaan/Documents/New project/reporter.err.log</string>
</dict>
</plist>
